<% include ../partials/header.ejs %>
<!-- Modal for edit campground-->
<div class="modal fade" id="newCampModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Campground</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form action="/campgrounds" method="POST">
          <div class="form-group">
            <label for="#name">Name:</label>
            <input class="form-control" type="text" name="campground[name]" placeholder="Enter name of the campground"
              id="name">
          </div>
          <div class="form-group">
            <label for="#url">Image Url:</label>
            <input class="form-control" type="text" name="campground[url]" placeholder="Enter image url" id="url">
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" rows="5" name="campground[desc]" id="#desc" placeholder="Enter description of your campground"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--END OF MODAL-->
<div class="jumbotron">
  <h1>YELPCAMP Campgrounds</h1>
  <div class="mt-3">
    <button class="btn btn-primary" data-target='#newCampModal' data-toggle="modal">Add New Campground</button>
  </div>
</div>
<div class="row">
  <%if(ejsCampgrounds && ejsCampgrounds.length){%>
  <%ejsCampgrounds.map(ejsCampground => {%>
  <div class="col-md-6 col-lg-3">
    <a href="/campgrounds/<%=ejsCampground.id%>">
      <figure class="figure">
        <img src="<%=ejsCampground.url%>" alt="<%=ejsCampground.name%>" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-center">
          <%=ejsCampground.name%>
        </figcaption>
      </figure>
    </a>
  </div>
  <%})%>
  <%}else{%>
  <h4>Campgrounds coming soon...</h4>
  <%}%>
</div>
<% include ../partials/footer.ejs %>